#menu-toggle {
  display: none;
}

.hamburger-close {
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
}

.bun {
  width: 66px;
  height: 60px;
  position: absolute;
  top: 9px;
  left: 9px;
  transition: transform 0.18s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.15s;
}

.bun-crust {
  display: block;
  width: 80px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  left: 7px;
  transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.2s;
}

.bun-crust-top {
  top: 14px;
  transform: translateY(-3px);
}

.bun-crust-bottom {
  bottom: 14px;
  transform: translateY(3px);
}

#menu-toggle:checked + .hamburger-close .bun-top {
  transform: rotate(45deg);
}

#menu-toggle:checked + .hamburger-close .bun-bottom {
  transform: rotate(-45deg);
}

#menu-toggle:checked + .hamburger-close .bun-crust-top,
#menu-toggle:checked + .hamburger-close .bun-crust-bottom {
  transform: none;
  transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}
