.hover-fill-button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid #fff;
  padding: 24px 48px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  border-radius: 6px;
}

.hover-fill-button:hover {
  color: #c69b7b;
  cursor: pointer;
}

.hover-fill-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #fff;
  transform: skewX(35deg);
  z-index: -1;
  transition: width 1s;
}

.hover-fill-button:hover::before {
  width: 150%;
}
