@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Open Sans";
}

body {
  background-color: #c69b7b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spacer-vertical {
  margin: 64px 0;
}

.spacer-horizontal {
  margin: 0 62px;
}

@media (max-width: 1024px) {
  body {
    flex-direction: column;
  }
}
